<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css" />

<div>
  <main class="mdl-layout">
    <div class="mdl-grid">
	    <div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp" *ngFor="let contato of contatos">
	        <div class="mdl-card__title">
	            <h2 class="mdl-card__title-text">{{ contato.nome }}</h2>
	        </div>
	        <div class="mdl-card__actions mdl-card--border">
	        	<div class="mdl-card__supporting-text">
		            <p>E-mail: {{ contato.email }}</p>
		            <p>Telefone: {{ contato.telefone }}</p>	
		        </div>
		    </div>
	    </div>
	</div>
  </main>
</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>