<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css" />

<form #f="ngForm" class="mdl-layout--fixed-header" (ngSubmit)="onClick(f)">
  	<header class="mdl-layout__header is-casting-shadow">
	    <div class="mdl-layout__header-row form-group">
			<div class="mdl-textfield mdl-js-textfield mdl-cell--2-col mdl-cell--1-offset">
				<input class="mdl-textfield__input form-control" type="text" id="nome" name="nome" ngModel required #nome="ngModel" placeholder="Nome">
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-cell--3-col mdl-cell--1-offset">
				<input class="mdl-textfield__input form-control" type="email" name="email" id="email" ngModel required email #email="ngModel" placeholder="E-mail">
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-cell--2-col mdl-cell--1-offset">
				<input class="mdl-textfield__input form-control" type="phone" name="telefone" id="telefone" ngModel required #telefone="ngModel" placeholder="Telefone">
			</div>
			<button type="submit" class="mdl-button mdl-cell--1-offset mdl-cell--1-col mdl-js-button mdl-button--raised mdl-js-ripple-effect" [disabled]="!f.valid">
				Enviar
			</button>
	    </div>
  	</header>	
</form>

<div class="mdl-chip" *ngIf="!nome.valid && nome.touched">
	<span class="mdl-chip__text">Campo "Nome" inválido!</span>
</div>
<div class="mdl-chip" *ngIf="email.invalid && email.touched">
	<span class="mdl-chip__text">Campo "E-mail" inválido!</span>
</div>
<div class="mdl-chip" *ngIf="!telefone.valid && telefone.touched">
	<span class="mdl-chip__text">Campo "Telefone" inválido!</span>
</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>