.ng-invalid.ng-touched:not(form){
	border: red  1px  solid;
}

.mdl-chip{
	position: absolute;
	opacity: 80%; 
	border: red 1px solid;
	background-color: pink;
	margin: 1% 0% 0% 40%;
}

.mdl-button{
	border: gray 1px solid;
}